# ================================
# Git
# ================================
.git
.gitignore

# ================================
# Python Cache
# ================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ================================
# Database filed
# ================================
db.sqlite3
db.sqlite3-journal

# ================================
# Virtual Environments
# ================================
venv/
.venv/
env/
ENV/

# ================================
# Environment / Secrets
# ================================
.env
.env.*
*.env

# ================================
# Django
# ================================
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log
logs/

# ================================
# Tests / Coverage
# ================================
.pytest_cache/
.coverage
htmlcov/
.tox/

# ================================
# IDE / Editor
# ================================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ================================
# OS Files
# ================================
.DS_Store
Thumbs.db

# ================================
# Frontend (if any)
# ================================
node_modules/
npm-debug.log
yarn-error.log

# ================================
# Build / Temp
# ================================
build/
dist/
*.egg-info/
tmp/
.cache/
