version: "3.9"

services:
  web:
    build: .
    container_name: django_app
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped

volumes:
  static_volume:
